.countdown {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    width: 600px;
    height: 500px;

    .cancelOrSendButtons {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 20px;
        margin-top: 20px;
    }

    p {
        font-size: 15rem;
        opacity: 0.4;
        user-select: none;
        line-height: 1.2;
    }

    button {
        font-size: 24px;
    }

    .responseContainer {
        opacity: 1;
        animation: fadeOut 1s ease-in-out 2500ms forwards;
        text-align: center;
    }
    .responseMessage {
        font-size: 12rem;
        text-align: center;
        width: 100%;
    }

    .responseSubmessage {
        font-size: 4rem;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
