.flipButton {
    z-index: 1;
    position: absolute;
    bottom: 20px;
    right: 20px;
    padding: 10px;
    color: white;
    border-radius: 50%;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    transition: all 0.2s ease;
    backface-visibility: inherit;
    -webkit-backface-visibility: inherit;
}

.flipButton:hover {
    background-color: rgba(0, 0, 0, 0.8);
    border-color: transparent;
    transform: scale(1.05);
}
