.postcard {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .errorMessage {
        color: #fe636a;
        font-size: 16px;
        height: 30px;
        font-weight: normal;
    }
    .errorMessageTextArea {
        font-weight: normal;
        color: #fe636a;
        font-size: 18px;
        margin-top: 5px;
        position: absolute;
        bottom: 40px;
        left: 30px;
    }

    form {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 30px;
        font-weight: bold;
        max-width: 100%;

        button {
            margin-top: 20px;
        }
    }

    .stampPlacer {
        width: 1px;
        height: 1px;
        position: absolute;
        top: 20px;
        right: 20px;
    }

    .stamp {
        width: 120px;
        height: 140px;
        top: 0px;
        right: 116px;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;

        --radius: 2px;
        background-image: radial-gradient(var(--radius), transparent 98%, white),
            linear-gradient(white 0 0);
        background-repeat: round, no-repeat;
        background-position: calc(var(--radius) * -1.5)
                calc(var(--radius) * -1.5),
            50%;
        background-size: calc(var(--radius) * 3) calc(var(--radius) * 3),
            calc(100% - var(--radius) * 3) calc(100% - var(--radius) * 3);

        .stampImage {
            width: 86%;
            height: 86%;
            object-fit: cover;
            border-radius: 2px;
            background-color: #000;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    .mainForm {
        width: 1000px;
        height: 600px;
        padding: 20px;
        border-radius: 6px;
        background-color: #141414;
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-wrap: nowrap;
        gap: 8px;
        margin-bottom: 10px;
        box-shadow: 0px 5px 24px 0px rgba(0, 0, 0, 0.75);
        -webkit-box-shadow: 0px 5px 24px 0px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 0px 5px 24px 0px rgba(0, 0, 0, 0.75);

        & > :first-child {
            grid-row: 1 / -1;
        }

        textarea {
            height: 100%;
            width: 55%;
            margin-right: 10px;
            border: 1px solid transparent;
            border-right: 1px solid #ccc;
            padding: 10px;
            background: transparent;
        }

        .rightSide {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 45%;

            > div:first-child {
                margin-top: 60px;
            }

            input {
                border: 1px solid transparent;
                background-color: transparent;
                width: 100%;
                border-bottom: 1px dashed #f1f1f1;
            }
        }
    }
}

@media (max-width: 752px) {
    .postcard .mainForm {
        width: 800px;
        height: 500px;
    }
    .postcard .stamp {
        width: 80px;
        height: 100px;
        top: -6px;
        right: 70px;
    }
    .postcard form {
        font-size: 20px;
    }
}

@media (max-width: 599px) {
    .postcard .mainForm {
        width: 600px;
        height: 400px;
    }
    .postcard .stamp {
        width: 60px;
        height: 80px;
        top: -10px;
        right: 46px;
    }
    .postcard form {
        font-size: 18px;
    }
}
