.postcard {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    form {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 20px;

        button {
            margin-top: 20px;
        }
    }

    .stampPlacer {
        width: 1px;
        height: 1px;
        position: absolute;
        top: 20px;
        right: 20px;
    }

    .stamp {
        width: 60px;
        height: 70px;
        top: 10px;
        right: 70px;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;

        --radius: 2px;
        background-image: radial-gradient(var(--radius), transparent 98%, white),
            linear-gradient(white 0 0);
        background-repeat: round, no-repeat;
        background-position: calc(var(--radius) * -1.5)
                calc(var(--radius) * -1.5),
            50%;
        background-size: calc(var(--radius) * 3) calc(var(--radius) * 3),
            calc(100% - var(--radius) * 3) calc(100% - var(--radius) * 3);

        .stampImage {
            width: 86%;
            height: 86%;
            object-fit: cover;
            border-radius: 2px;
            background-color: #000;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    .mainForm {
        width: 1000px;
        height: 600px;
        padding: 20px;
        border-radius: 4px;
        background-color: #141414;
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-wrap: nowrap;
        gap: 8px;
        margin-bottom: 10px;
        border: 1px solid black;

        & > :first-child {
            grid-row: 1 / -1;
        }

        textarea {
            height: 100%;
            width: 55%;
            margin-right: 10px;
            border: 1px solid transparent;
            border-right: 1px solid #ccc;
            padding: 10px;
            background: transparent;
        }

        .rightSide {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 45%;

            input {
                border: 1px solid transparent;
                background-color: transparent;
                width: 100%;
                border-bottom: 1px dashed #f1f1f1;
            }
        }
    }
}
